:root{
  --content-spacing: 4px;
  --line-heght: 1.5;
}

.takeABreak__container{
  position : fixed;
  top : 0;
  left : 0;
  width : 100%;
  height : 100%;
  background-color : rgba(0, 0, 0, 0.75);
  padding: 8px;
  z-index : 9999;
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  font-family: Arial, Helvetica, sans-serif;
}

.takeABreak__lottie{
  width : 200px;
  height : 200px;
  margin: var(--content-spacing);
}
.takeABreak__container > .takeABreak__title{
    color : #fff;
    font-size : 80px;
    font-weight: 600;
    margin: var(--content-spacing);
    line-height: var(--line-heght);
    text-align : center;
    border: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.takeABreak__container > .takeABreak__timer{
    color : #fff;
    font-size : 32px;
    margin: var(--content-spacing);
    line-height: var(--line-heght);
    font-weight: 500;
    text-align : center;
    font-family: Arial, Helvetica, sans-serif;
}

.takeABreak__container > .takeABreak__task{
    color : #fff;
    font-size : 32px;
    margin: var(--content-spacing);
    line-height: var(--line-heght);
    text-align : center;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.takeABreak__container > .takeABreak__dismiss{
  color: #fff;
  padding: 8px;
  background-color: #2589BD;
  border-radius: 4px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.takeABreak__container > .takeABreak__dismiss:hover{
  background-color:#1c75a5;
}
