:root {
    --color-primary: #2589BD;
    --color-success: #52c41a;
    --color-failure: #d10c0c;
}

body {
    width: 300px;
    height: 320px;
    padding: 0;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
}

.notifications-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
}

.notifications-container span {
    padding: 2px;
}

/* Convert checkbox into a toggle switch */
.notifications-container input[type="checkbox"] {
    display: none;
}

.notifications-container label {
    display: block;
    position: relative;
    width: 50px;
    height: 26px;
    border-radius: 26px;
    background-color: #ddd;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.notifications-container label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: left 0.2s ease;
}

.notifications-container input[type="checkbox"]:checked+label {
    background-color: var(--color-primary);
}

.notifications-container input[type="checkbox"]:checked+label:after {
    left: calc(100% - 24px);
}

/* .notifications-container label:active:before{
    width: 28px;
} */

button.submit,
input[type="range"] {
    width: 100%;
}

button.submit{
    height: 40px;
    padding: 10px;
    background-color: var(--color-primary);
    font-size: medium;
    font-weight: 500;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

button[type="submit"]::after {
    content: "Submit"
}

button[type="submit"]:hover {
    background-color: #1c75a5;
}

.takeABreak__button--animate {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.takeABreak__button--animate::after {
    position: absolute;
    content: "";
    border-radius: 4px;
    width: 100%;
    height: 40px;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: var(--color-primary);
}

.takeABreak__button--animate::before {
    content: "";
    height: 20px;
    width: 20px;
    border-style: solid;
    border-color: transparent;
    border-width: 3px;
    font-size: 0;
    z-index: 3;
    border-radius: 50%;
    border-left-color: white;
    background-color: transparent;
    transition: all 0.1s ease-in-out;
    animation: submit-animation 1s 0.25s ease-in-out infinite;
}

.takeABreak__validate {
    font-size: medium;
    color: white;
    background: var(--color-success);
    transition: background-color 0.5s ease-in;
}

.takeABreak__validate:hover {
    background-color: var(--color-success);
}

.takeABreak__validate::after {
    content: "Settings saved";
}

.takeABreak__invalidate {
    font-size: medium;
    color: white;
    background: var(--color-failure);
    transition: background-color 0.5s ease-in;
}

.takeABreak__invalidate:hover {
    background-color: var(--color-failure);
}

.takeABreak__invalidate::after {
    content: "Settings could not be saved";
}

@keyframes submit-animation {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

button.accordion {
    background: none;
    color: #000;
    cursor: pointer;
    padding: 18px;
    width:fit-content;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    padding: 2px;
}


/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 2px;
    background-color: white;
    display: none;
    overflow: hidden;
}